.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-bg-element);
    border: var(--border);
    border-radius: .9rem;
    margin-top: 2rem;
    padding: 10rem 0;
}