:root {
    --color-active: #1F1F1F;
    --color-inactive: #A4A4A4;
    --color-bg-element: #3D3D3D;
    --color-bg-page: #1F1F1F;
    --color-txt-placeholder: #CACACA;
    --color-txt-primary: #FAFAFA;
    --color-txt-secondary: #A4A4A4;
    --color-txt-title: #00B5CC;
    --color-border-title: #B2DF28;
    --color-border: #5D5D5D;
    --color-icon: #0A0A0A;
}