.txt {
    &-title {
        font-family: "Creepster", system-ui;
        font-size: 3rem;
        color: var(--color-txt-title);
        text-shadow: var(--color-border-title) 1px -1px, var(--color-border-title) -1px 1px, var(--color-border-title) 1px 1px, var(--color-border-title) -1px -1px
    }

    &-subtitle {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-txt-primary);
    }

    &-subtext {
        color: var(--color-txt-secondary);
    }
}