<section>
    <div class="flex flex-col lg:flex-row justify-between gap-4 overflow-hidden">
        <p class="txt-title">FAVORITOS</p>
    </div>

    @if (listCharacters.length > 0 ) {
    <fcm-card-character [listCharacters]="listCharacters"></fcm-card-character>
    } @else {
        <div class="box">
            <p class="txt-subtitle">Parece que você ainda não tem favoritos</p>

            <p class="txt-subtext">Volte à página inicial e escolha os melhores para você.</p>

            <button class="btn-primary" [routerLink]="['/inicio']">Voltar ao início</button>
        </div>
    }
</section>